@media (prefers-reduced-motion: no-preference) {
	.content.revealed {
		--duration: 0.8s;
		animation: fadeIn var(--duration) ease-out forwards;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(5%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
